
.justify-content-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 29%;
}

#L1 {
  padding-right: 50px;
}

#L2 {
  padding-right: 50px;
}

#L3 {
  padding-right: 50px;
}

#L4 {
  padding-right: 50px;
}

#session-list{
  padding: 20px;
  color: green;
}

#speaker-list {
  padding: 20px;
  color: green;
}

#add-session {
  padding: 20px;
  color: green;
}

#add-speaker {
  padding: 20px;
  color: green;
}
