.justify-content-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 28%;
}


.justify-content-end:hover {
  font-weight: bold;
}

#L1 {
  padding-right: 10px;
}
